.Nav { 
    background: rgb(162, 202, 255); 
    padding: 20px; 


    .hamburger { 
        display: block;
        background-color: #333(162, 202, 255);

        width: 25px;
        height: 25px;

        position: absolute;
        right: 30px;
        top: 15px;
        color: #fff;

        svg {
            width: 100%;
            height: auto;

            &:hover {
                color: rgb(162, 202, 255);
                cursor: pointer;
            }
        }

    }

    .links {
        background-color: rgb(162, 202, 255);
        text-align: center;

        a {
            background-color: rgb(89, 139, 255);
            color: white;
            display: block;
            padding: 20px;
            border-radius: 4px;
            margin: 10px;
            text-decoration: none;
            border: solid 2px rgb(89, 139, 255);

            &:hover {
                background-color: #fff;
                border: solid 2px rgb(89, 139, 255);
                color: rgb(89, 139, 255);
                
            }

            &.active {
                background-color: red;
            }
        }
    }

}

@media screen and (min-width: 600px) {
    .Nav { 

        .hamburger { 
            display: none;
       }

        .links {
            a {
                display: inline-block;
            }
        }
        
    }
}