.Main   { 
    background: rgb(89, 139, 255); 
    padding: 20px; 


.columns {

        background-color: rgb(255, 255, 0);
        padding: 20px;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .col {
            padding: 10px;
            color: black;

            width: 44%;

        }

        .col1 {background-color: pink;}
        .col2 {background-color: rgb(252, 117, 139);}
        .col3 {background-color: rgb(250, 46, 80);}
        .col4 {background-color: rgb(170, 0, 28);}

    }



}

@media screen and (min-width: 600px) {
    Main{
        .columns {
            .col(
                width: 45%;
            )
        }

    }
}

@media screen and (min-width: 800px) {
    Main{
        .columns {
            .col(
                width: 23%;
            )
        }

    }
}