body {
    background-color: rgb(224, 224, 224);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 14px;
    margin: 0px;
}

.App {
    //width: 800px;
    min-width: 320px;
    max-width: 100%;
    border: solid 0px teal;
    padding: 0px;
    margin: 0px auto;
    background-color: white;
}

@media screen and (min-width: 600px) {
    body {
        background-color: rgb(224, 224, 224);
    }

}

@media screen and (min-width: 1000px) {
    body {
        background-color: rgb(224, 224, 224);
    }

}